# General
.android/
.aws/
.bashrc_private
.bundler/
crontasks
.gem/
.gemrc
.idea/
.irb*
.local/
.kindle/
.rbenv/
.serverauth.*
.sqlworkbench/

# Linux
*~
._*
.\#*
\#*\#
/.apollorc
/apollo-overrides
.awssecret
.awssecrets/
backups/
.bark
.bash_history
/build
.cache/
/.classpath
.config/
.dbus/
.dmrc
.elinks/
.emacs.bmk
.envimprovement/
.esd_auth
.fontconfig/
.gconf/
.gconfd/
.gdb_history
git/
.gnome/
.gnome2/
.gstreamer-0.10/
.gtkrc-1.2-gnome2
.hgignore_global
.hgrc
.history
.htoprc
.ICEauthority
*.iml
.irssi/
.java_history
.kde/
.lesshst
.livewatch_control_masters/
.metacity/
.mozilla/
.mysql_history
.nautilus/
.npm/
.post-review-cookies.txt
/.project
.qws/
.recently-used
.recently-used.xbel
.rediscli_history
.rnd
/.settings
.sqlite_history
.ssh/
.subversion/
.thumbnails/
tmp/
.vboxclient-display.pid
.vboxclient-seamless.pid
.viminfo
.Xauthority
.xsession-errors
.zcompdump

# OS X
.account
.ackrc
.adobe
.anyconnect
.batik/
.CFUserTextEncoding
.cisco/
.ctags
.cups/
.dbshell
.dotBackup
.DownloadManager/
.dropbox/
.DS_Store
.emacs-local.*
.fonts.*
.fonts/
.roescache/
.ssh_agent_info
.ssh_auth_sock
.Trash/
.WHCC/

Applications/
Azure/
Code/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
