# General
.499481.padl
.adalcache
.devaccounts
.extaccounts
.psql_history
.android/
.atom/
.aws/
.azure/
.babel.json
.bash_sessions/
.bashrc_private
.bundle/
.bundler/
crontasks
.dnx/
.docker/
.dotnet/
.gem/
.gemrc
.idea/
.irb*
.jspm/
.kindle/
.local/
.m2/
.mitmproxy/
.mono/
.netrc
.node-gyp/
.node_repl_history
.nuget
.oracle_jre_usage/
.pylint.d/
.python_history
.rbenv/
.serverauth.*
.streamline/
.sqlworkbench/
.templateengine/
.vagrant.d/
.vim/
.vscode/
.wapi/
.yarnrc
.zoomus/

# Linux
*~
._*
.\#*
\#*\#
/.apollorc
/apollo-overrides
.awssecret
.awssecrets/
backups/
.bark
.bash_history
/build
.cache/
/.classpath
.config/
.dbus/
.dmrc
.elinks/
.emacs.bmk
.envimprovement/
.esd_auth
.fontconfig/
.gconf/
.gconfd/
.gdb_history
git/
.gnome/
.gnome2/
.gstreamer-0.10/
.gtkrc-1.2-gnome2
.hgignore_global
.hgrc
.history
.htoprc
.ICEauthority
*.iml
.irssi/
.java_history
.kde/
.lesshst
.livewatch_control_masters/
.metacity/
.mozilla/
.mysql_history
.nautilus/
.npm/
.post-review-cookies.txt
/.project
.qws/
.recently-used
.recently-used.xbel
.rediscli_history
.rnd
/.settings
.sqlite_history
.ssh/
.subversion/
.thumbnails/
tmp/
.vboxclient-display.pid
.vboxclient-seamless.pid
.viminfo
.Xauthority
.xsession-errors
.zcompdump

# OS X
.account
.ackrc
.adobe
.anyconnect
.batik/
.CFUserTextEncoding
.cisco/
.ctags
.cups/
.dbshell
.dotBackup
.DownloadManager/
.dropbox/
.DS_Store
.emacs-local.*
.fonts.*
.fonts/
.roescache/
.ssh_agent_info
.ssh_auth_sock
.Trash/
.WHCC/

Applications/
Azure/
Code/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
OneDrive/
OneDrive - Microsoft/
Pictures/
Public/
Sites/
VirtualBox VMs/
